layout anaconda deepi

export PINECONE_API_KEY=fdf4cb0c-35da-4ff8-936f-329756ff6c84
export PINECONE_ENV=us-west1-gcp-free
export PINECONE_INDEX_NAME=demo-fonction-publique
export INPUT_FILE_ADDR=/home/llt/data/deepi/LEGITEXT000006072050.pdf
